select, button {
  display: block;
}

#endor, #alderaan, #corelia, #endor, #hoth, #naboo, #tatooine, #dagobah, #yavin4, #red, #green {
  display: none;
  text-align: center;
}

.form-control {
  width: 400px;
}

img {
  max-width: 400px;
  max-height: 400px;
}
